.fondoNegro{
    background-color: black;
}
.fondoVerdeClaro{
    background-color: rgb(173, 231, 134);
}
.fondoGris{
    background-color: rgb(185, 185, 185);
}
.fondoBlanco {
    background-color: white;
}
.fondoCremita{
    background-color: rgb(255, 215, 162);
}